/* form{
    background-color: aqua;
    border-style: dotted;
    text-align: center;
}
head{
    text-align: center;
    font-size: 20px;
    font-weight: 100px;
    color: black; */
}
/* .pithabar{
    height: 35px;
    width: 80px;
}
.vortabar{
    height:17px;
    width: 80px;
}
button{
    background-color: blue;
    color: white;
} */

div{
    border: 5px solid;
    
}
h1{
    text-align: center;
}
form{
    border:3px solid black;
    border-style: dotted;
    height:580px;
    width:500px;
      margin-left:420px;
      margin-right:400px;
      background-color: aqua;
}
.pithabar{
    height:200px;
    width: 400px;
    margin-top:15px;
    margin-right:50px;
   margin-left:40px;
   border:2px solid black;
border-style: dotted;

}
.vortabar{
    height:150px;
    width: 400px;
   
    margin-right:50px;
   margin-left:40px;
   border:2px solid black;
   border-style: dotted;
   
}
 div{
    margin-left:200px;
    margin-right:150px;
    display: inline;
  
 }
 button{
    background-color: blue;
    color:white;
 }
label{
    display: block;
    text-align: center;
}
#n {
    margin-top: 50px;
}
#email{
    margin-top: 5px;
}

